# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Docs
docs/
lib/
# Dotenv file
.env

ERC1155/broadcast/Marketplace.s.sol/
ERC721/broadcast/DeployBasicNft.s.sol/
